# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled directory content
/ProcesseurXML/build/*
/ProcesseurXML/xmltool

#Test results
/ProcesseurXML/Tests/results.csv

#Temporary files
*.cpp~
*.c~
*.h~
*.orig
*.fuse_hidden*

#Project files
commun

#LaTeX files
*.aux
*.log
*.out
*.toc
main.pdf